

div {
    height: 700px;
    width: 500px;
    padding: 20px;
    background-color: beige;
    border-radius: 50px;
    border: none;
    margin: 40px;
}


img {
    width: 400px;
    height: 400px;
}